#map{
width: 50%;

}
ol  a{
    text-decoration: none;
    color: black;

}
ol{
    list-style-type: none;
}
.provide{
    display: flex;
    justify-content: center;
    text-align: left;
}
#voucher{
    display: flex;
}