table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}
#tablebtn{
  display: flex;
  justify-content: right;
}
.editBtn{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#delete{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
