<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN">

-<mapper namespace="MemberMapper">


-<resultMap id="memberResultMap" type="com.kh.member.model.vo.Member">

<id column="USER_ID" property="memberId"/>

<result column="USER_PASSWORD" property="memberPw"/>

<result column="USER_NAME" property="memberName"/>

<result column="AGE" property="memberAge"/>

<result column="USER_EMAIL" property="memberEmail"/>

<result column="PHONE" property="memberPhone"/>

<result column="USER_ADDR" property="memberAddress"/>

<result column="ENROLL_DATE" property="memberDate"/>

<result column="UPDATE_DATE" property="updateDate"/>

</resultMap>

<!-- parameterType="com.kh.member.model.vo.Member"생략가능 -->


<insert id="insertMember">INSERT INTO FISHWEBVALUES(#{memberId },#{memberPw },#{memberName},#{memberAge},#{memberEmail},#{memberPhone},#{memberAddress},DEFAULT,DEFAULT) </insert>

<delete id="deleteMember">DELETE FROM FISHWEB WHERE USER_ID= #{memberId} </delete>

<update id="updateMember">UPDATE FISHWEB SET USER_PASSWORD =#{memberPw},USER_EMAIL=#{memberEmail},PHONE=#{memberPhone},USER_ADDR=#{memberAddress} WHERE USER_ID = #{memberId} </update>

<!-- parameterType="com.kh.member.model.vo.Member"생략가능 -->


<!-- 컬럼명과 필드명이 같을 때 사용,resultType="com.kh.member.model.vo.Member" -->


<select id="selectCheckLogin" resultMap="memberResultMap">SELECT * FROM FISHWEB WHERE USER_ID = #{memberId} AND USER_PASSWORD=#{memberPw} </select>

<select id="selectOneById" resultMap="memberResultMap">SELECT * FROM FISHWEB WHERE USER_ID = #{memberId} </select>

</mapper>
