<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="MemberMapper">
<resultMap id="memberResultMap" type="fishmarket.model.vo.Member">

<id column="USER_ID" property="memberId"/>

<result column="USER_PASSWORD" property="memberPw"/>

<result column="USER_NAME" property="memberName"/>

<result column="AGE" property="memberAge"/>

<result column="USER_EMAIL" property="memberEmail"/>

<result column="PHONE" property="memberPhone"/>

<result column="USER_ADDR" property="memberAddress"/>

<result column="ENROLL_DATE" property="memberDate"/>

<result column="UPDATE_DATE" property="updateDate"/>

</resultMap>
<insert id="insertMember">INSERT INTO FISHWEBVALUES(#{memberId },#{memberPw },#{memberName},#{memberAge},#{memberEmail},#{memberPhone},#{memberAddress},DEFAULT,DEFAULT) </insert>

<delete id="deleteMember">DELETE FROM FISHWEB WHERE USER_ID= #{memberId} </delete>

<update id="updateMember">UPDATE FISHWEB SET USER_PASSWORD =#{memberPw},USER_EMAIL=#{memberEmail},PHONE=#{memberPhone},USER_ADDR=#{memberAddress} WHERE USER_ID = #{memberId} </update>

<select id="selectCheckLogin" resultMap="memberResultMap">SELECT * FROM FISHWEB WHERE USER_ID = #{memberId} AND USER_PASSWORD=#{memberPw} </select>

<select id="selectOneById" resultMap="memberResultMap">SELECT * FROM FISHWEB WHERE USER_ID = #{memberId} </select>

</mapper>
