<?xml version="1.0" encoding="UTF-8"?>

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN">

-<mapper namespace="NoticeMapper">


-<resultMap id="NoticeResultMap" type="com.kh.notice.model.vo.Notice">

<id column="NOTICE_NO" property="noticeNo"/>

<result column="NOTICE_SUBJECT" property="noticeSubject"/>

<result column="NOTICE_CONTENT" property="noticeContent"/>

<result column="NOTICE_WRITER" property="noticeWriter"/>

<result column=" NOTICE_DATE" property="noticeDate"/>

<result column="UPDATE_DATE" property="updateDate"/>

<result column="VIEW_COUNT" property="viewCount"/>

</resultMap>

<insert id="insertnotice">INSERT INTO NOTICEVALUES(SEQ_NOTICE.NEXTVAL,#{noticeSubject},#{noticeContent},'관리자',DEFAULT,DEFAULT,DEFAULT) </insert>

<select id="selectnotice" resultMap="NoticeResultMap">SELECT * FROM NOTICE ORDER BY NOTICE_NO DESC </select>

<update id="noticeUpdate">UPDATE NOTICE SET NOTICE_SUBJECT =#{noticeSubject},NOTICE_CONTENT =#{noticeContent} WHERE NOTICE_NO=#{noticeNo} </update>

<delete id="noticeDelete">DELETE FROM NOTICE WHERE NOTICE_NO = #{noticeNo} </delete>

<select id="selectOneByNo" resultMap="NoticeResultMap">SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo} </select>

</mapper>
